body {
    /* background-color: #a1a1a1; */
    background-color: #525659;  /* Same color background as when Chrome browser displays a PDF */
}

.browserFullWidthContainer {
    padding: 0px 15px 0px 15px;
}

.designImage {
    width: 100%;
}