/* FIXED POSITION ITEMS ON THIS CSS */

/* ---------------------------------------- */
/* Background Image Container */

.backgroundImage {
    width: 100%;
    height: auto;

    padding: 0;
    margin: 0;
    
    position: fixed;
    top: 0px;
    left: 0px;

    z-index: -1;
}

/* ---------------------------------------- */
/* Logo and Menu Bar Container */

.logoAndMenuBarContainer {
    width: 960px;
    height: 100px;
    
    position: fixed;
    top: 20px;
}

/* ---------------------------------------- */
/* Logo Button */

.logoButton {
    width: 180px;
    height: 65px;

    padding: 35px 0px 0px 10px;
    border: 0;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: left;
    text-decoration: none;
    line-height: 1;

    background-color:#2953ca;

    cursor: pointer;
    outline: 0;
  
    position: fixed;
    left: 50%;
    transform: translate(-480px, 0px);  

    opacity: 1;
}
/* 
The outline: 0 in the above code removes the 
blue outline for the button when the button 
is clicked.

Changing the opactiy in the above code
will change how much see-through the button
becomes.  A value of 0 means completely see
through.  A value of 1 means not see through. 
*/

/* Hover over Logo Button */
.logoButton:hover {
    background-color: #2953ca;
}

/* Selected Logo Button */
.logoButton:active {
    background-color: #2953ca;
}

/* ---------------------------------------- */
/* Menu Bar */

.menuUl {
    width: 778px;
    height: 98px;

    padding: 0;
    border: 1px solid #a1a1a1;
    margin: 0;

    list-style-type: none;
    overflow: hidden;

    background-color: #cecece;  

    position: fixed;
    left: 50%;
    transform: translate(-300px, 0px);
}

.menuLi {
    float: right;
}

.menuLi a {
    padding: 40px 30px 40px 30px;

    display: block;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}

/* Change link color on hover */
.menuLi a:hover {
    color: white;
    
    background-color: #191919;
}

/* ---------------------------------------- */
/* First Footer */

.fFooter {
    width: 100%;
    height: 10px;

    color: white;
    text-align: center;

    background-color: #2953ca;

    position: fixed;
    left: 0;
    bottom: 100px;
    /* 
    This part is if I want to customize the 
    width and positioning of First Footer later.
    left: 50%;
    transform: translate(-50%, 0);
    */
}

/* ---------------------------------------- */
/* Second Footer Container */

.sFooter {
    width: 100%;
    height: 100px;

    background-color: #cecece;

    position: fixed;
    left: 0;
    bottom: 0px;
    /* 
    This part is if I want to customize the 
    width and positioning of Second Footer later.
    left: 50%;
    transform: translate(-50%, 0);
    */
}

/* ---------------------------------------- */
/* Email Button */

.sFooterButton1 {
    height: 20px;

    padding: 0;
    border: 0;
    margin: 0;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-decoration: none;

    background: none;

    cursor: pointer;
    outline: 0;

    position: fixed;
    left: 50%;
    transform: translate(-100.3125px, 10px);
}

/* Change link color on hover of Email Button */
.sFooterButton1:hover {
    color: #2953ca;
}

/* ---------------------------------------- */
/* Tel Button */

.sFooterButton2 {
    height: 20px;

    padding: 0;
    border: 0;
    margin: 0;

    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-decoration: none;

    background: none;

    cursor: pointer;
    outline: 0;

    position: fixed;
    left: 50%;
    transform: translate(-67.8205px, 35px);
}

/* Change link color on hover of Tel Button */
.sFooterButton2:hover {
    color: #2953ca;
}

/* ---------------------------------------- */
/* LinkedIn Button */

.sFooterButton3 {
    cursor: pointer;

    position: fixed;
    left: 50%;
    transform: translate(-32px, 64px);
}

.linkedInImage {
    width: 24px;
    height: 24px;

    padding: 0;
    margin: 0;
}

/* ---------------------------------------- */
/* GitHub Button */

.sFooterButton4 {
    cursor: pointer;

    position: fixed;
    left: 50%;
    transform: translate(8px, 64px);
}

.gitHubImage {
    width: 24px;
    height: 24px;
    
    padding: 0;
    margin: 0;
}

/* ---------------------------------------- */
/* ---------------------------------------- */
/* MEDIA QUERIES */

/* Screen Size Max-Width is 980px */

@media screen and (max-width: 980px) {
    
    body {
        width: 980px;
    }
    
    .backgroundImage {
        width: auto;
        height: 100%;

        transform: translate(-12%, 0px);        
    }
    
}


/* Screen Size Max-Width is 768px (iPad) */

@media screen and (max-width: 768px) {

    body {
        width: 768px;
    }

    .backgroundImage {
        width: auto;
        height: 100%;

        transform: translate(-25%, 0px);
    }

    .logoAndMenuBarContainer {
        width: 728px;
    }

    .logoButton {
        transform: translate(-364px, 0px);  
    }

    .menuUl {
        width: 538px;

        transform: translate(-174px, 0px);
    }

    .menuLi a {
        padding: 40px 20px 40px 20px;
    }

}

/* ---------------------------------------- */
/* 
Screen Size Max-Width is 640px
(About the width of phone in landscape) 
*/

@media screen and (max-width: 640px) {

    body {
        width: 640px;
    }

    .backgroundImage {
        width: auto;
        height: 100%;

        transform: translate(-25%, 0px);
    }

    .logoAndMenuBarContainer {
        width: 640px;
        height: 60px;
        
        position: fixed;
        top: 0px;
    }

    .logoButton {
        width: 100px;
        height: 40px;
    
        padding: 20px 0px 0px 8px;

        font-size: 16px;
      
        position: fixed;
        left: 50%;
        transform: translate(-320px, 0px);  
    }

    .menuUl {
        width: 538px;
        height: 58px;
    
        position: fixed;
        left: 50%;
        transform: translate(-220px, 0px);
    }
    
    .menuLi a {
        padding: 21px 15px 21px 15px;

        font-size: 16px;
    }

    .fFooter {
        height: 5px;
    
        position: fixed;
        left: 0;
        bottom: 60px;
    }

    .sFooter {
        height: 60px;
    }
    
    .sFooterButton1 {
        position: fixed;
        left: 50%;
        transform: translate(-123.3205px, 5px);
    }

    .sFooterButton2 {
        position: fixed;
        left: 50%;
        transform: translate(-67.8205px, 32px);
    }
    
    .sFooterButton3 {
        display: none;
    }
    
    .sFooterButton4 {
        display: none;
    }
    
}