/* 
RELATIVE AND ABSOLUTE POSITION ITEMS 
ON THIS CSS 
*/

/* ---------------------------------------- */
/* Body of Page */

body {
    height: 2000px;
    /* 
    Height of the body is determined here
    so that the user can scroll up the page
    to see just the background image.
    */

    padding: 0;
    margin: 0;
}

/* ---------------------------------------- */
/* Portfolio Outer Container */

.visionOuterContainer {
    width: 958px;

    padding: 0;
    border: 1px solid #a1a1a1;
    margin: 0;

    background-color: #ffffff;
   
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-480px, 140px);
}

/* ---------------------------------------- */
/* Portfolio Title */

.visionTitle {
    width: 956px;

    padding: 0;
    border: 1px none red;
    margin: 40px 0px 30px 0px;
    /* 
    Change border from none to solid to
    view border
    */

    color: silver;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

/* ---------------------------------------- */
/* Portfolio Inner Container */

.visionGrid {
    padding: 0px 20px 0px 20px;
    margin: 0;

    display: grid;
    grid-template-columns: auto auto;
}

.visionButton {
    width: 200px;
    height: 200px;

    padding: 0;
    border: 0;
    margin: 0px 20px 10px 0px;

    cursor: pointer;
    outline: 0;

    position: relative;
}

.visionImage {
    width: 200px;
    height: 200px;
    
    padding: 0;
    margin: 0;
}

.visionDescription {
    padding: 0;
    margin: 10px 0px 60px 0px;

    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 16px;
    text-align: justify;
    line-height: 1.5;
   
    position: relative;
    top: -8px;
}

/* ---------------------------------------- */
/* Project Description Anchor Style */

/* Unvisited link */
.visionAnchor:link {
    color: #2953ca;
}

/* Visted link */
.visionAnchor:visited {
    color: #2953ca;
}

/* Mouse hover link */
.visionAnchor:hover {
    color: #ffcc00;
}

/* Selected link */
.visionAnchor:active {
    color: red;
}

/* ---------------------------------------- */
/* ---------------------------------------- */
/* MEDIA QUERIES */

/* When Screen Size Max-Width is 980px */
/* (1024px is viewport width of iPad Pro in vertical) */
/* (768px is viewport width of iPad in vertical) */

@media screen and (max-width: 980px) {

    .visionOuterContainer {
        width: 700px;

        transform: translate(-351px, 110px);
    }

    .visionTitle {
        width: 700px;

        margin: 20px 0px 16px 0px;
    
        font-size: 34px;
    }

/* -------------------- */

/* When Screen Size Max-Width is 750px */
/* (375px is viewport width of iPhone X in vertical) */

@media screen and (max-width: 750px) {

    .visionOuterContainer {
        width: 353px;
            /*
            width should actually be 355px but is set
            to be a little narrower so that it will format
            properly on iPhone Screen
            */
        transform: translate(-177.5px, 62px);
            /* 
            translate should actually be (-187.5px, 65px)
            but is offset by +10px on x-axis and -3px on y-axis
            so that it will format properly on iPhone Screen
            */
    }
    
    .visionTitle {
        width: 355px;

        margin: 20px 0px 16px 0px;
    
        font-size: 17px;
    }
    
    .visionGrid {
        padding: 0px 10px 0px 10px;
        margin: 0;
    
        display: grid;
        grid-template-columns: auto auto;
    }

    .visionButton {
        width: 140px;
        height: 140px;

        margin: 0px 10px 0px 0px;
    }
    
    .visionImage {
        width: 140px;
        height: 140px;
    }

    .visionDescription {
        margin: 0px 0px 60px 0px;

        font-size: 12px;
        text-align: left;

        position: relative;
        top: 1px;
    }    
    
}